[submodule "ThirdParty/pybind11"]
	path = ThirdParty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ThirdParty/pagmo2"]
	path = ThirdParty/pagmo2
	url = https://github.com/esa/pagmo2.git
[submodule "ThirdParty/tbb"]
	path = ThirdParty/tbb
	url = https://github.com/wjakob/tbb.git
